<template>
  <div id="app">
    <v-app>
      <v-card class="overflow-hidden">
        <v-app-bar app>
          <v-container>
            <v-toolbar-title class="float-left">Media</v-toolbar-title>
            <v-btn @click="logout()" v-if="isLogged" class="float-right">Logout</v-btn>
          </v-container>
        </v-app-bar>
      </v-card>
      <v-main>
        <v-container>
          <router-view />
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["isLogged"]),
  },

  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>