<template>
  <div>
    <v-alert type="error" v-if="errors">
      <ul>
        <li v-for="(error, index) in errors" v-bind:key="index">
          {{ error[0] }}
        </li>
      </ul>
    </v-alert>
    <v-card>
      <v-card-text class="pt-4">
        <div>
          <v-form>
            <v-text-field
              label="Enter your e-mail address"
              v-model="email"
            ></v-text-field>
            <v-text-field
              label="Enter your password"
              v-model="password"
              type="password"
            ></v-text-field>
            <v-layout justify-space-between>
              <v-btn @click="login()">Login</v-btn>
            </v-layout>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      errors: null,
    };
  },
  methods: {
    login() {
      this.$store
        .dispatch("login", {
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push({ name: 'Media' })
        })
        .catch((err) => {
          this.errors = err.response.data.errors;
        });
    },
  },
};
</script>