<template>
  <div>
    <v-row no-gutters>
      <v-col cols="12">
        <v-alert type="error" v-if="fileErros">
          <ul>
            <li v-for="(error, index) in fileErros" v-bind:key="index">
              {{ error[0] }}
            </li>
          </ul>
        </v-alert>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="10">
        <v-file-input
          truncate-length="15"
          label="Select file"
          v-model="uploadFile"
          ref="file"
          :disabled="uploadInProgress"
        ></v-file-input>
      </v-col>
      <v-col cols="2">
        <v-btn block @click="upload()" :disabled="uploadInProgress">
          Upload
        </v-btn>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12">
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>Thumb</th>
                <th>Name</th>
                <th>mime_type</th>
                <th>Size</th>
                <th>Created at</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in data" :key="item.id">
                <td>
                  <img
                    v-if="item.thumb"
                    v-bind:src="item.thumb"
                    @click="showFile(item)"
                  />
                </td>
                <td>{{ item.file_name }}</td>
                <td>{{ item.mime_type }}</td>
                <td>{{ item.human_readable_size }}</td>
                <td>{{ item.created_at }}</td>
                <td>
                  <v-btn depressed color="error" @click="destroy(item)">
                    Delete
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <div class="text-center">
          <v-pagination
            v-model="pagination.current"
            :length="pagination.total"
            @input="getData()"
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" :fullscreen="true">
      <v-card>
        <v-card-title class="headline"> Preview </v-card-title>

        <v-card-text height="100%">
          <iframe v-if="fullImage" v-bind:src="fullImage" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      uploadFile: null,
      uploadErrors: null,
      uploadInProgress: false,
      fileErros: null,
      data: {},
      pagination: {
        current: 1,
        total: 0,
      },
      dialog: false,
      fullImage: null,
    };
  },
  mounted() {
    this.getData();
  },
  computed: {},
  methods: {
    getData() {
      axios.get("/media?page=" + this.pagination.current).then((response) => {
        this.data = response.data.data;
        this.pagination.current = response.data.meta.current_page;
        this.pagination.total = response.data.meta.last_page;
      });
    },
    destroy(data) {
      axios.delete("/media/" + data.id).then((response) => {
        this.pagination.current = 1;
        this.getData();
      });
    },
    showFile(fileData) {
      this.fullImage = null;
      axios.get(fileData.file_url).then((response) => {
        this.dialog = true;
        this.fullImage = response.data;
      });
    },
    upload() {
      if (!this.uploadFile) {
        return;
      }
      this.uploadInProgress = true;
      this.fileErros = null;
      let formData = new FormData();
      formData.append("file", this.uploadFile);
      axios
        .post("/media", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          this.uploadFile = null;
          this.pagination.current = 1;
          this.getData();
        })
        .catch((error) => {
          this.fileErros = error.response.data.errors;
        })
        .finally(() => (this.uploadInProgress = false));
    },
  },
};
</script>

<style scoped>
iframe {
  width: 100%;
  height: 600px;
}
</style>
